.card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2.5px 2.5px 2.5px rgba(140, 140, 140, 0.5);
}

.card--login {
    height: 300px;
    width: 400px;
}

.card__header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px;
    padding: 15px 15px;
    background-color: #fff;
}

.card__title {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #929292;
    margin: 0;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    line-height: initial;
    text-align: center;
    word-wrap: break-word;
}

.card__title--big {
    color: #121212;
    font-size: 32px;
}

.card__title--medium {
    color: #4d4d4d;
    font-size: 22px;
}

.card__body {
    padding: 10px;
}

.text_block {
    display: flex;
    align-items: center;
}

.text_block__text {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    line-height: initial;
    word-wrap: break-word;
}

.text_block__text--center {
    text-align: center;
}

.card__figure {
    display: flex;
    justify-content: center;
}

.card__figure {
    flex: 1;
    margin: 0;
}

.card__footer {
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card__disclaimer {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #6e6e6e;
}

.card__disclaimer--error {
    color: #ff0000;
}